@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import 'style-guide';
@import 'flexbox';

body {
	background-color: #f5f7f7;
}

#floatingNAV {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	background-color: $color-black;
	@extend .utility--shadow-1;
	padding: 6px 6px;
	select {
		margin: 0;
		float: right;
	}
	span {
		color: $color-white;
		margin-left: 10px;
		line-height: 35px;
	}
}
section {
	margin-top: 360px;
	&:first-of-type {
		margin-top: 20px;
	}
}
time {
	font-style: italic;
	font-weight: 600;
}
textarea {
	@extend p;
	font-family: monospace;
	display: block;
	background-color: #f6f6f6;
	border-top: 1px solid #e0e0e0;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	// border-radius: 4px;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
	resize: none;
	width: 100% !important;
}
hr {
	margin-top: 1.625em;
}

ul {
	display: block;
	// list-style-type: circle;
	li {
		display: block;
		padding-bottom: 10px;
		padding-left: 40px;
		b {
			font-weight: 700;
		}
		em {
			font-family: monospace;
			border: 1px solid #e1e1e8;
			background-color: #f7f7f9;
			color: #DD3953;
			border-radius: 3px;
			padding: 3px 6px;
		}
		&:before {
			content: '🔔';
			margin-left: -30px;
			width: 24px;
			display: inline-block;
		}
	}
}
#colors {
	figure {
	margin-bottom: 20px;
	display: inline-block;
	@extend .col-xs-6;
	@extend .col-sm-4;
	@extend .col-md-3;
	@extend .col-lg-2;
	div {
		display: block;
		width: 100%;
		height: 100px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	figcaption {
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		background-color: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		// box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		span {
			margin-left: 5px;
			margin-right: 5px;
			display: block;
		}
		textarea {
			height: 28px !important;
		}
	}
}
}
#typography {
	figure {
		display: block;
		min-height: 140px;
		border-bottom: 1px solid #e0e0e0;
		&:first-of-type {
			border-top: 1px solid #e0e0e0;
		}
		margin-bottom: 1.62em;
		padding-bottom: 1.62em;
		h1, h2, h3, h4, h5, h6, p {
			@extend .col-xs-12;
			@extend .col-sm-9;
			display: inline-block;
			border-bottom: 1px solid red;
			border-top: 1px solid red;
		}
		figcaption {
			@extend .col-xs-12;
			@extend .col-sm-4;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			background-color: #fff;
			// height: 100%;
			top:0;
			display: inline-block;
			margin-top: 20px;
			float: right;
			textarea {
				border: none;
				width: 100% !important;
			}
		}
	}
}
#buttons {
	figure {
		display: inline-block;
		padding: 5px;
	}
	textarea {
		border-bottom: 1px solid #e0e0e0;
	}
}
#textinput {
	figure {
		padding: 5px;
	}
	textarea {
		border-bottom: 1px solid #e0e0e0;
		height: 80px;
	}
}
#select {
	figure {
		display: inline-block;
		padding: 5px;
	}
	textarea {
		height: 160px;
		border-bottom: 1px solid #e0e0e0;
	}
}
#radio {
	figure {
		display: inline-block;
	}
	textarea {
		height: 240px;
		border-bottom: 1px solid #e0e0e0;
	}
}
#displayboxes {
	textarea {
		height: 120px;
		border-bottom: 1px solid #e0e0e0;
	}
}